@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #F4F6F8;
    color: #0A1F44;
    font-family: "Inter";
    font-size: 25px;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-left .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

#logo {
    height: 100px;
    width: auto;
}

.nav-right {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-right a {
    text-decoration: none;
    color: #0055CC;
}

.nav-right a:hover {
    color: #FFB800;
}

main {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: "Baskervville";
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #0A1F44;
}

main img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    border-bottom: 1px solid #d0d3dc;   

footer {
    border-top: 1px solid #d0d3dc;      
    justify-content: center;         
    margin-top: 80px;                   
}


.about-main {
    max-width: 900px;
    margin: 80px auto 40px;
    text-align: center;
}

.about-main h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.about-subtitle {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 700;
}

.about-text {
    font-size: 24px;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}

.about-graphic {
    display: block;
    margin: 60px auto 0;
    max-width: 180px;
    width: 50%;
}
